@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
    font-family: 'Silkscreen', cursive;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    text-align: center;
}

canvas {
    z-index: -1;
    background-color: darkblue;
    border: 10px blue solid;
    margin-top: 150px;
}

#turn {
    transition: 500ms;
    position: absolute;
    color: red;
    -webkit-text-stroke: 2px yellow;
    font-size: 64px;
    margin-top: 40px;
}

.interact {
    position: absolute;
    color: yellow;
    background-color: brown;
    
    font-size: 32px;
    font-family: 'Silkscreen', cursive;
}
#help {
    left: 24px;
    top: 80px;
}
#back {
    left:24px;
    top:16px;
}
.move {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 500px;
}
#left {
    left: 400px;
    font-size: 48px;
}
#right {
    right:400px;
    font-size: 48px;
}
#down {
    right:250px;
    font-size: 36px;
}