@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
    font-family: 'Silkscreen', cursive;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    text-align: center;
}

canvas {
    background-color: darkblue;
    border: 10px blue solid;
    margin-top: 150px;
}

#turn {
    transition: 500ms;
    position: absolute;
    color: limegreen;
    font-size: 64px;
    margin-top: 40px;
}

.interact {
    position: absolute;
    color: yellow;
    background-color: brown;
    
    font-size: 32px;
    font-family: 'Silkscreen', cursive;
}
#help {
    left: 24px;
    top: 80px;
}
#back {
    left:24px;
    top:16px;
}
.move {
    position: static;
    height: 100px;
    width: 100px;
    margin-top: 500px;
}